#main {
    position: relative;
}
#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://thumbs.dreamstime.com/z/paw-prints-seamless-21615498.jpg");
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

h1 {
	font-family: fantasy;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 40px;
	font-size: 64px;
	color: #836953;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 65px;
	margin-bottom: 65px;
	width: 50%;
	border: 10px;
	border-style: outset;
	border-color: burlywood;
	box-shadow: 5px 5px 5px #999;
}

hr {
	margin-bottom: 20px;
}

#content {
	font-family: helvetica;
	font-size: 18px;
	width: 200px;
	margin: auto auto;
}
